#root {
  width: 100%; /* Make it full width */
  /* max-width: 1280px; Limit the maximum width */
  height: 100vh; /* Make it full height */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #212121;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.send-button {
  margin-left: 10px; 
}

h1 {
  color: #212121;
  text-align: center;
  font-family: "Bona Nova";
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 1 px;
}

h2 {
  color: #212121;
  text-align: center;
  font-family: "Inter";
  font-style: medium;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1 px;
}

/* Feed Page */

.feed-page {
  /* max-width: 800px; */
  /* margin: 20px auto; */
  padding: 20px;
  background-color: #212121;
  border-radius: 8px;
  box-shadow: 0 2px 10px #212121;
}

.feed-page h1 {
  color: white; /* New color for h1 */
}

.feed-page h2 {
  color: white; /* New color for h2 */
}

.feed-container {
  flex-direction: column;
  align-items: center;
  padding: 2rem; /* Match the padding of #root */
  background-color: #212121;
  height: 100vh; /* Match the height of #root */
  background-color: #212121;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

/* Event container */

.event-container {
  display: flex;
  margin-bottom: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  width: 80%;
}

.event-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-time {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.event-title {
  color: white;
  text-align: left;
  font-family: "Bona Nova";
  font-weight: bolder;
  line-height: normal;
  letter-spacing: 1 px;
  font-size: 40px;
  margin: 0.5rem 0;
}

.event-subtitle {
  color: white;
  text-align: left;
  font-family: "Inter";
  font-style: medium;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1 px;
  margin: 0.5rem 0;
}